@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-variant: all-small-caps;
}

.signature{
	font-variant: small-caps;
	text-align: right;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}
